<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>273629553861-gfhpo5g65ge0j0ueoetr3rd3nrs30soh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.273629553861-gfhpo5g65ge0j0ueoetr3rd3nrs30soh</string>
	<key>API_KEY</key>
	<string>AIzaSyA4EboZth888evT2sbryQrtsGf4d-IyotU</string>
	<key>GCM_SENDER_ID</key>
	<string>273629553861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZackBlauvelt.AthleticInstinct2</string>
	<key>PROJECT_ID</key>
	<string>aitest-4dc7a</string>
	<key>STORAGE_BUCKET</key>
	<string>aitest-4dc7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:273629553861:ios:9545236d8a20af40</string>
	<key>DATABASE_URL</key>
	<string>https://aitest-4dc7a.firebaseio.com</string>
</dict>
</plist>
